footer {
    background-color: #3a3e64;
    color: #fff;
}

footer p {
    color: #999;
}

.footer-links {
    display: flex;
    text-align: center;
    margin: 0 auto;
} 

.link {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 1rem auto;
    padding: 2rem;
}

.link h5 {
    margin: 1rem auto;
}

.link-two i {
    padding: 0.5rem 0.8rem;
    color: #fff;
    margin-right: 0.3rem;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 2px;
}

.link-two i:hover {
    opacity: 0.6;
    color: #ccc;
    cursor: pointer;   
}

.footer-info {
    background-color: #313454;
    text-align: center;
    padding: 1rem 0;
}

.footer-info span:nth-child(2) {
    color: #fff;
}

.footer-info i {
    color: #f00;
}

.footer-info span:first-child {
    display: block;
	font-size: 1em;
}
