header {
    background: url('../images/header-back.jpg');
    background-size: contain;
    padding: 1rem;
    color: #fff;
    width: 100%;
}

nav {
    display: flex;
    align-content: center;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid #999;;
}

nav .logo {
	display: flex;
    flex: 25%;
    margin: 0;
}

nav .logo img {
    width: 75%;
	height: auto;
    margin: auto 0;
}

nav > ul {
    display: flex;
    flex: 75%;
    margin: auto 0 auto auto;
}

nav .show, nav .hide {
    display: none;
    padding: 1rem;
    background-color: #e84545;
    color: white;
    border-radius: 40%;
}

nav > ul li {
    list-style: none;
    margin-left: auto;
    margin-bottom: 0.2rem; 
}

nav > ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 1rem; 
    padding: 1rem 0.2rem; 
    border-radius: 5px;
    border: 1px solid transparent;
}

nav > ul li a:hover {
    border: 1px solid #fff;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5rem auto;
    text-align: center;
    font-size: 1.3em;
}

.header-text h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.header-text span, .footer-info span:first-child {
    display: block;
}

.header-text p {
    width: 75%;
    font-family: 'Ralway', sans-serif;
    font-size: 0.8em;
    margin: 1rem auto;
}

.header-text button {
    margin: 1rem auto;
    background: #e84545;
    padding: 1rem;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #e84545;
}

.header-text button:hover {
    border: 1px solid #65f;
    cursor: pointer;
    opacity: 0.7;
}
